*{
    margin: 0;
}

#canvas1{
    position: absolute;
    width: 100vw;
    /* transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; */ 
    
}

.controls{
    position: absolute;
    z-index: 100;
}

#image1{
    display: none;
}